In [1]:
import sys

sys.executable.split('/')[-3]

'mobility_venv'

In [2]:
import datetime
import json
import os
import warnings

import numpy as np
import pandas as pd
from tqdm import tqdm

warnings.filterwarnings('ignore')
tqdm.pandas()
pd.options.display.max_columns = None

## Load data

In [3]:
def save_object(obj, name, out_dir='out'):
    file_name = name if name.endswith('.json') else (name + '.json')
    file_path = os.path.join(out_dir, file_name)
    with open(file_path, 'w') as f:
        json.dump(obj, f)

def load_object(name, in_dir='out'):
    file_name = name if name.endswith('.json') else (name + '.json')
    file_path = os.path.join(in_dir, file_name)
    with open(file_path, 'r') as f:
        return json.load(f)

In [18]:
# OSM facilities
data_dir = '../../data/external/osm'
facilities_file = 'facilities.csv'

facilities_df = pd.read_csv(os.path.join(data_dir, facilities_file))

# KBR regions
data_dir = '../../data/interim'
regions_file = 'regions_info.csv'

regions_df = pd.read_csv(os.path.join(data_dir, regions_file), index_col=0)

# tags to 'other' subcategories map
data_dir = '../../data/processed/mc/travel_planning/other_travels_split'
tags_map_file = 'tags.json'

tags_map = load_object(name=tags_map_file, in_dir=data_dir)
other_travels_map = tags_map['other']

# gravity distribution
data_dir = '../../data/processed/mc/travel_planning/old'
gravity_file = 'gravity_dist.json'

gravity_dist = load_object(name=gravity_file, in_dir=data_dir)

In [20]:
facilities_df.head()

,id,category,tag,name,region_id,x,y
0,shop_265644030,shop,greengrocer,NaN,48,6.430831e+06,5.664721e+06
1,shop_265644193,shop,supermarket,Rabat,47,6.430721e+06,5.665215e+06
2,shop_265644198,shop,kiosk,NaN,47,6.430865e+06,5.665051e+06
3,shop_265644220,shop,convenience,Przystanek,47,6.431049e+06,5.664961e+06
4,shop_266010556,shop,kiosk,NaN,117,6.429292e+06,5.666063e+06

In [21]:
regions_df.head()

,Regions,Regions_agr,Region_name,Objects_offices,Objects_shops,Objects_apartments,Objects_industry,Objects_schools,Objects_universitites,Poluation_UM,Population_6plus_UM,Population_BD,Population_AUT,Population_MET1,Population_MET2,Jobs_GUS,Jobs_AUT,Jobs_MET3,Jobs_MET4
0,1,A10,Rynek,106538,58760,131606,288,0,0,1695,1645,5785,1698,2714,2105,10354,6986,9875,2262
1,2,A9,UWr,12954,4082,101166,3824,244,5911,1719,1657,565,1710,226,339,4798,609,1026,182
2,3,A9,Hala Targowa,9500,12060,62071,271,434,1412,1301,1253,1348,1391,548,713,4751,1139,2349,730
3,4,A11,Pl. Dominika≈Ñski,70156,104991,64536,188,0,0,650,620,704,726,269,191,4250,722,1566,217
4,5,A11,Skargi,13656,10927,60003,286,1785,0,1072,1034,696,1067,400,348,5194,965,1305,321

In [17]:
other_subcats = list(other_travels_map.keys())
other_subcats

['gastronomy',
 'culture_and_entertainment',
 'adults_entertainment',
 'sport',
 'official_matters',
 'other',
 'grocery_shopping',
 'other_shopping',
 'pharmacy',
 'healthcare',
 'services',
 'leisure_time_schools',
 'religion']

In [13]:
gravity_dist.keys()

dict_keys(['dom', 'praca', 'szkola', 'uczelnia', 'inne'])

In [26]:
def add_other_subcat(tag):
    for other_subcat, tags in 

facilities_df['other_subcat'] = facilities_df['tag'].apply(add_other_subcat)

,id,category,tag,name,region_id,x,y
0,shop_265644030,shop,greengrocer,NaN,48,6.430831e+06,5.664721e+06
1,shop_265644193,shop,supermarket,Rabat,47,6.430721e+06,5.665215e+06
2,shop_265644198,shop,kiosk,NaN,47,6.430865e+06,5.665051e+06
3,shop_265644220,shop,convenience,Przystanek,47,6.431049e+06,5.664961e+06
4,shop_266010556,shop,kiosk,NaN,117,6.429292e+06,5.666063e+06
...,...,...,...,...,...,...,...
69462,building_12310645,building,yes,NaN,1,6.432195e+06,5.664141e+06
69463,building_12318163,building,university,NaN,350,6.431931e+06,5.664193e+06
69464,building_12318164,building,yes,NaN,350,6.432000e+06,5.664158e+06
69465,building_12318165,building,yes,NaN,350,6.432011e+06,5.664154e+06
69466,building_12318166,building,yes,Pa?ac Wallenberg-Pachalych,350,6.431971e+06,5.664170e+06

In [25]:
def add_other_subcat(row):
    subcat = np.NaN
    for other_subcat, tags in other_travels_map.items():
        if row['tag'] in tags:
            subcat = other_subcat
    
    return subcat


facilities_df['other_subcat'] = facilities_df.apply(
    lambda row: other_subcat for other_subcat, tags in other_travels_map.items() if row['tag'] in tags,
    axis=1
)

SyntaxError: Generator expression must be parenthesized (<ipython-input-25-5bc2fb7ca603>, line 11)

In [ ]:

for other_subcat, tags in other_travels_map.items():
    facilities_df['']update(df.name.isin(names) * key) # True * 1000 = 1000

In [ ]:
data_dir = '../../data/processed/mc/travel_planning/other_travels_split'
others_dist_file = 'others_dist_2019.json'

others_dist = load_object(name=others_dist_file, in_dir=data_dir)

# ---
data_dir = '../../data/processed/mc/travel_planning'
dest_type_file = 'dest_type_dist.json'

dest_type = load_object(name=dest_type_file, in_dir=data_dir)