In [5]:
import pandas as pd

In [6]:
pd.options.display.max_columns = None

## Load Excel

In [8]:
df = pd.read_excel('../../data/raw/KBR/0_1_Etap_I_II/Etap_II_BIG_DATA_szacunki_liczby_mieszkancow_i_miejsc_pracy.xlsx', 'Wrocław', header=[0,1, 2])

In [9]:
# remove empty rows at the end of file
df = df.iloc[0:375]

In [10]:
df.tail(10)

6416.0
367              5790.0                 0.0            171776.0
368                56.0                56.0               194.0
369                92.0               174.0              2193.0
370               178.0                 0.0                 0.0
371                 0.0                 0.0             47708.0
372                 0.0                 0.0             19030.0
373              2489.0               234.0             17858.0
374                 0.0                 0.0              4701.0

    Unnamed: 24_level_0 Unnamed: 25_level_0 Unnamed: 26_level_0  \
    Unnamed: 24_level_1 Unnamed: 25_level_1 Unnamed: 26_level_1
        PRZEMYSL,N,10,0       SZKOLY,N,10,0     UCZELNIE,N,10,0
365               236.0               552.0                 0.0
366                69.0                 0.0                 0.0
367              3041.0                 0.0                 0.0
368                 0.0                 0.0                 0.0
369               702.0                 0.0                 0.0
370                 0.0                 0.0                 0.0
371                41.0                 0.0                 0.0
372                 0.0                 0.0                 0.0
373               361.0                 0.0              5189.0
374                10.0                 0.0                 0.0

    Unnamed: 27_level_0 Unnamed: 28_level_0 Unnamed: 29_level_0  \
    Unnamed: 27_level_1 Unnamed: 28_level_1 Unnamed: 29_level_1
       sumLICZBA,N,21,5               REJON             REJON_2
365                 5.0               366.0                 0.0
366                 9.0               367.0                 0.0
367                14.0               368.0                 0.0
368                 4.0               369.0                 0.0
369                 5.0               370.0                 0.0
370                 0.0               371.0                41.0
371                 6.0               372.0                 0.0
372                 5.0               373.0                 0.0
373                21.0               374.0                 0.0
374                 0.0               375.0                78.0

                DANE UM                                          \
    Unnamed: 30_level_1 Unnamed: 31_level_1 Unnamed: 32_level_1
                     Mi               Mi_6+      MIESZKAŃCY 6+*
365              4411.0              4226.0            567532.0
366              4747.0              4514.0            567532.0
367              2731.0              2574.0            567532.0
368                 0.0                 0.0            567532.0
369                19.0                19.0            567532.0
370                 0.0                 0.0            567532.0
371              1478.0              1478.0            567532.0
372                55.0                55.0            567532.0
373               448.0               448.0            567532.0
374               628.0               628.0            567532.0

                    GUS          T-MOBILE                             \
    Unnamed: 33_level_1 DANE Z LOGOWANIA*          MIESZKAŃCY
         MIEJSCA PRACY*             RAZEM    ZGODY      total   data
365              1082.0           77735.0  44509.0       89.0   19.0
366              1141.0           77735.0  44509.0      270.0   64.0
367              4142.0           77735.0  44509.0      419.0  313.0
368                 1.0           77735.0  44509.0       58.0    9.0
369                13.0           77735.0  44509.0       87.0   20.0
370                 0.0           77735.0  44509.0        NaN    NaN
371                58.0           77735.0  44509.0      295.0  258.0
372                11.0           77735.0  44509.0      427.0  365.0
373              3536.0           77735.0  44509.0      237.0  183.0
374                 5.0           77735.0  44509.0        NaN    NaN

                                                                              \
    MIEJSCA PRACY       pkt.1         pkt.2         pkt.3        pkt.4
            total data  total   data  total   data  total   data total  data
365          31.0  0.0   33.0   90.0    9.0   14.0   46.0   76.0  11.0  -1.0
366          95.0  0.0   84.0    5.0   34.0  104.0  115.0   11.0  28.0  16.0
367         127.0  0.0  188.0  124.0  123.0   -1.0  106.0   25.0  55.0  40.0
368          27.0  0.0   14.0   83.0    8.0   -1.0   35.0   59.0   5.0  -1.0
369          74.0  0.0   27.0  221.0   12.0  135.0   66.0   71.0   9.0  -1.0
370           NaN  NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN   NaN
371          72.0  0.0  145.0  503.0  131.0  138.0   62.0  212.0  61.0  62.0
372         109.0  0.0  190.0  152.0  140.0   94.0   78.0    8.0  66.0  47.0
373         194.0  0.0  103.0  106.0   99.0   23.0  266.0   52.0  74.0  65.0
374           NaN  NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN   NaN

                                                      \
                                          MIESZKAŃCY
    liczba mieszkańców po zastosowaniu mnożika zgody
365                                       155.438563
366                                       471.555191
367                                       731.783797
368                                       101.297041
369                                       151.945562
370                                         0.000000
371                                       515.217709
372                                       745.755802
373                                       413.920668
374                                         0.000000

                                                            607174  \
                                               Unnamed: 49_level_1
    Ostateczna liczba mieszkańców po zastosowaniu mnożnika udziału
365                                              774.0
366                                             2349.0
367                                             3645.0
368                                              504.0
369                                              756.0
370                                                0.0
371                                             2566.0
372                                             3715.0
373                                             2062.0
374                                                0.0

                                  635701                    \
                     MIESZKAŃCY BIG DATA
    liczba mieszkańców z danych BIG DATA Różnica Różnica %
365                                774.0 -3452.0  0.183152
366                               2349.0 -2165.0  0.520381
367                               3645.0  1071.0   1.41608
368                                504.0   504.0       NaN
369                                756.0   737.0   39.7895
370                                  0.0     0.0       NaN
371                               2566.0  1088.0   1.73613
372                               3715.0  3660.0   67.5455
373                               2062.0  1614.0   4.60268
374                                  0.0  -628.0         0

                         \

    Weryfikacja warunku
365      do weryfikacji
366      do weryfikacji
367      do weryfikacji
368      do weryfikacji
369      do weryfikacji
370      do weryfikacji
371      do weryfikacji
372      do weryfikacji
373      do weryfikacji
374      do weryfikacji

                                                                 BIG-DATA  \
                                                                    PESEL
    Wybór wsp. Na podstawie którego zostanie okreśłona liczba mieszkańców
365                                              PESEL
366                                              PESEL
367                                           BIG-DATA
368                                              PESEL
369                                              PESEL
370                                              PESEL
371                                              PESEL
372                                              PESEL
373                                              PESEL
374                                              PESEL

                                                               615728  \
                                                  Unnamed: 55_level_1
    Ostateczny współczynnik przyjęty do obliczenia liczby mieszkańców
365                                             4226.0
366                                             4514.0
367                                             3645.0
368                                                0.0
369                                               19.0
370                                                0.0
371                                             1478.0
372                                               55.0
373                                              448.0
374                                              628.0

                                              \
                         Unnamed: 56_level_1
    Udział mieszkańców w populacji Wrocławia
365                                 0.006863
366                                 0.007331
367                                 0.005920
368                                 0.000000
369                                 0.000031
370                                 0.000000
371                                 0.002400
372                                 0.000089
373                                 0.000728
374                                 0.001020

                                                               635701.0000000006  \
                                                             Unnamed: 57_level_1
    Metoda Autorska - Ostateczna liczba mieszkańców 6+ w poszczególnych rejonach
365                                        4363.083092
366                                        4660.425243
367                                        3763.236600
368                                           0.000000
369                                          19.616322
370                                           0.000000
371                                        1525.943400
372                                          56.784091
373                                         462.532235
374                                         648.371079

                                                              Dane z dnia 10 kwiecień 2018  \
                                                                       Unnamed: 58_level_1
    Metoda 1 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH NOCNYCH DLA KAŻDEGO REJONU
365                                              287.0
366                                              730.0
367                                             1635.0
368                                              121.0
369                                              234.0
370                                                0.0
371                                             1261.0
372                                             1653.0
373                                              896.0
374                                                0.0

                                                                                                                  \
                                                                                             Unnamed: 59_level_1
    Metoda 2 \nLICZBA KART SIM ROZPOCZYNAJĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU
365                                               78.0
366                                              295.0
367                                             1070.0
368                                               69.0
369                                              104.0
370                                                0.0
371                                             1139.0
372                                             1218.0
373                                              861.0
374                                                0.0

                                                       \
                                        MIEJSCA PRACY
    liczba miejsc parcy po zastosowaniu mnożika zgody
365                                         54.141522
366                                        165.917567
367                                        221.805590
368                                         47.155519
369                                        129.241052
370                                          0.000000
371                                        125.748051
372                                        190.368577
373                                        338.821137
374                                          0.000000

                                                                     \

    Ostateczna liczba miejsc pracy po zastosowaniu mnożnika udziału
365                                              269.0
366                                              826.0
367                                             1104.0
368                                              234.0
369                                              643.0
370                                                0.0
371                                              626.0
372                                              948.0
373                                             1687.0
374                                                0.0

    Wyznaczono na podsawie najczęstrzego innego miejsca przebywania niż dom w miesącu kwiecień  \
                                                                        MIEJSCA PRACY BIG DATA
              Metoda Autorska - Liczba miejsc pracy z danych BIG DATA\n(+ uczniowie, studenci)
365                                              269.0
366                                              826.0
367                                             1104.0
368                                              234.0
369                                              643.0
370                                                0.0
371                                              626.0
372                                              948.0
373                                             1687.0
374                                                0.0

                                                                    Dane z dnia 10 kwiecień 2018  \
                                                                             Unnamed: 63_level_1
    Metoda 3 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH 11-12 i 12-13 DLA KAŻDEGO REJONU
365                                              400.0
366                                             1000.0
367                                              922.0
368                                              304.0
369                                              574.0
370                                                0.0
371                                              539.0
372                                              678.0
373                                             2314.0
374                                                0.0


                                                                                       Unnamed: 64_level_1
    Metoda 4 \nLICZBA KART SIM KOŃCZĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU
365                                               95.0
366                                              243.0
367                                              478.0
368                                               43.0
369                                               78.0
370                                                0.0
371                                              530.0
372                                              574.0
373                                              643.0
374                                                0.0

In [11]:
# flat columns names
new_columns = []
i = 1
for col in df.columns:
    next_col = col[2]
    if next_col in new_columns:
        next_col = next_col + '_' + str(i)
        i += 1
    new_columns.append(next_col)

df.columns = new_columns

In [12]:
df.head(3)

,REJON_poprawny,REJON_błędny,REJON_AGR,GMINA,"NAME,C,254","ZSt_0_5,N,21,5","ZSt_6_15,N,21,5","ZSt_16_19,N,21,5","ZSt_20_24,N,21,5","ZSt_25_44,N,21,5","ZSt_45_WE,N,21,5","ZSt_WE_i_w,N,21,5","ZSt_Suma,N,21,5","ZCz_0_5,N,21,5","ZCz_6_15,N,21,5","ZCz_16_19,N,21,5","ZCz_20_24,N,21,5","ZCz_25_44,N,21,5","ZCz_45_WE,N,21,5","ZCz_WE_i_w,N,21,5","ZCz_Suma,N,21,5","BIURA,N,10,0","HANDEL,N,10,0","MIESZKANIA,N,10,0","PRZEMYSL,N,10,0","SZKOLY,N,10,0","UCZELNIE,N,10,0","sumLICZBA,N,21,5",REJON,REJON_2,Mi,Mi_6+,MIESZKAŃCY 6+*,MIEJSCA PRACY*,RAZEM,ZGODY,total,data,total_1,data_2,total_3,data_4,total_5,data_6,total_7,data_8,total_9,data_10,liczba mieszkańców po zastosowaniu mnożika zgody,Ostateczna liczba mieszkańców po zastosowaniu mnożnika udziału,liczba mieszkańców z danych BIG DATA,Różnica,Różnica %,Weryfikacja warunku,Wybór wsp. Na podstawie którego zostanie okreśłona liczba mieszkańców,Ostateczny współczynnik przyjęty do obliczenia liczby mieszkańców,Udział mieszkańców w populacji Wrocławia,Metoda Autorska - Ostateczna liczba mieszkańców 6+ w poszczególnych rejonach,Metoda 1 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH NOCNYCH DLA KAŻDEGO REJONU,Metoda 2 \nLICZBA KART SIM ROZPOCZYNAJĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU,liczba miejsc parcy po zastosowaniu mnożika zgody,Ostateczna liczba miejsc pracy po zastosowaniu mnożnika udziału,"Metoda Autorska - Liczba miejsc pracy z danych BIG DATA\n(+ uczniowie, studenci)",Metoda 3 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH 11-12 i 12-13 DLA KAŻDEGO REJONU,Metoda 4 \nLICZBA KART SIM KOŃCZĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU
0,1.0,22.0,A10,Wrocław,Rynek,50.0,85.0,39.0,53.0,446.0,436.0,505.0,1614.0,5.0,8.0,0.0,5.0,48.0,13.0,2.0,81.0,106538.0,58760.0,131606.0,288.0,0.0,0.0,80.0,22.0,0.0,1695.0,1645.0,567532.0,10354.0,77735.0,44509.0,665.0,378.0,803.0,0.0,312.0,14.0,242.0,214.0,1135.0,804.0,260.0,202.0,1161.422971,5785.0,5785.0,4140.0,3.51672,do weryfikacji,PESEL,1645.0,0.002672,1698.360550,2714.0,2105.0,1402.440068,6986.0,6986.0,9875.0,2262.0
1,2.0,23.0,A9,Wrocław,UWr,62.0,101.0,35.0,51.0,433.0,402.0,411.0,1495.0,1.0,21.0,58.0,77.0,48.0,14.0,5.0,224.0,12954.0,4082.0,101166.0,3824.0,244.0,5911.0,13.0,23.0,0.0,1719.0,1657.0,567532.0,4798.0,77735.0,44509.0,65.0,30.0,70.0,0.0,26.0,40.0,39.0,28.0,118.0,72.0,21.0,22.0,113.522546,565.0,565.0,-1092.0,0.340978,do weryfikacji,PESEL,1657.0,0.002691,1710.749807,226.0,339.0,122.255050,609.0,609.0,1026.0,182.0
2,3.0,24.0,A9,Wrocław,Hala Targowa,48.0,79.0,24.0,36.0,346.0,332.0,389.0,1254.0,1.0,1.0,1.0,3.0,26.0,12.0,3.0,47.0,9500.0,12060.0,62071.0,271.0,434.0,1412.0,30.0,24.0,0.0,1301.0,1253.0,567532.0,4751.0,77735.0,44509.0,155.0,89.0,131.0,0.0,63.0,5.0,82.0,72.0,270.0,177.0,84.0,63.0,270.707610,1348.0,1348.0,95.0,1.07582,do weryfikacji,BIG-DATA,1348.0,0.002189,1391.726457,548.0,713.0,228.791593,1139.0,1139.0,2349.0,730.0

## Specific columns to csv

In [13]:
df.columns

Index(['REJON_poprawny', 'REJON_błędny', 'REJON_AGR', 'GMINA', 'NAME,C,254',
       'ZSt_0_5,N,21,5', 'ZSt_6_15,N,21,5', 'ZSt_16_19,N,21,5',
       'ZSt_20_24,N,21,5', 'ZSt_25_44,N,21,5', 'ZSt_45_WE,N,21,5',
       'ZSt_WE_i_w,N,21,5', 'ZSt_Suma,N,21,5', 'ZCz_0_5,N,21,5',
       'ZCz_6_15,N,21,5', 'ZCz_16_19,N,21,5', 'ZCz_20_24,N,21,5',
       'ZCz_25_44,N,21,5', 'ZCz_45_WE,N,21,5', 'ZCz_WE_i_w,N,21,5',
       'ZCz_Suma,N,21,5', 'BIURA,N,10,0', 'HANDEL,N,10,0', 'MIESZKANIA,N,10,0',
       'PRZEMYSL,N,10,0', 'SZKOLY,N,10,0', 'UCZELNIE,N,10,0',
       'sumLICZBA,N,21,5', 'REJON', 'REJON_2', 'Mi', 'Mi_6+', 'MIESZKAŃCY 6+*',
       'MIEJSCA PRACY*', 'RAZEM', 'ZGODY', 'total', 'data', 'total_1',
       'data_2', 'total_3', 'data_4', 'total_5', 'data_6', 'total_7', 'data_8',
       'total_9', 'data_10',
       'liczba mieszkańców po zastosowaniu mnożika zgody',
       'Ostateczna liczba mieszkańców po zastosowaniu mnożnika udziału',
       'liczba mieszkańców z danych BIG DATA', 'Różnica', 'Różnica %',
       'Weryfikacja warunku',
       'Wybór wsp. Na podstawie którego zostanie okreśłona liczba mieszkańców',
       'Ostateczny współczynnik przyjęty do obliczenia liczby mieszkańców',
       'Udział mieszkańców w populacji Wrocławia',
       'Metoda Autorska - Ostateczna liczba mieszkańców 6+ w poszczególnych rejonach',
       'Metoda 1 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH NOCNYCH DLA KAŻDEGO REJONU',
       'Metoda 2 \nLICZBA KART SIM ROZPOCZYNAJĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU',
       'liczba miejsc parcy po zastosowaniu mnożika zgody',
       'Ostateczna liczba miejsc pracy po zastosowaniu mnożnika udziału',
       'Metoda Autorska - Liczba miejsc pracy z danych BIG DATA\n(+ uczniowie, studenci)',
       'Metoda 3 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH 11-12 i 12-13 DLA KAŻDEGO REJONU',
       'Metoda 4 \nLICZBA KART SIM KOŃCZĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU'],
      dtype='object')

In [14]:
columns = {
    'REJON_poprawny': 'Regions',
    'REJON_AGR': 'Regions_agr',
    'NAME,C,254': 'Region_name',
    'BIURA,N,10,0': 'Objects_offices',
    'HANDEL,N,10,0': 'Objects_shops',
    'MIESZKANIA,N,10,0': 'Objects_apartments',
    'PRZEMYSL,N,10,0': 'Objects_industry',
    'SZKOLY,N,10,0': 'Objects_schools',
    'UCZELNIE,N,10,0': 'Objects_universitites',
    'Mi': 'Poluation_UM',
    'Mi_6+': 'Population_6plus_UM',
    'liczba mieszkańców z danych BIG DATA': 'Population_BD',
    'Metoda Autorska - Ostateczna liczba mieszkańców 6+ w poszczególnych rejonach': 'Population_AUT',
    'Metoda 1 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH NOCNYCH DLA KAŻDEGO REJONU': 'Population_MET1',
    'Metoda 2 \nLICZBA KART SIM ROZPOCZYNAJĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU': 'Population_MET2',
    'MIEJSCA PRACY*': 'Jobs_GUS',
    'Metoda Autorska - Liczba miejsc pracy z danych BIG DATA\n(+ uczniowie, studenci)': 'Jobs_AUT',
    'Metoda 3 \nLICZBA KART SIM „NIERUSZAJĄCYCH SIĘ” W GODZINACH 11-12 i 12-13 DLA KAŻDEGO REJONU': 'Jobs_MET3',
    'Metoda 4 \nLICZBA KART SIM KOŃCZĄCYCH PRZEMIESZCZENIE W GODZINACH SZCZYTU PORANNEGO DLA KAŻDEGO REJONU': 'Jobs_MET4'
}

In [15]:
df = df[list(columns.keys())]
df = df.rename(columns=columns)

In [16]:
df.head()

,Regions,Regions_agr,Region_name,Objects_offices,Objects_shops,Objects_apartments,Objects_industry,Objects_schools,Objects_universitites,Poluation_UM,Population_6plus_UM,Population_BD,Population_AUT,Population_MET1,Population_MET2,Jobs_GUS,Jobs_AUT,Jobs_MET3,Jobs_MET4
0,1.0,A10,Rynek,106538.0,58760.0,131606.0,288.0,0.0,0.0,1695.0,1645.0,5785.0,1698.360550,2714.0,2105.0,10354.0,6986.0,9875.0,2262.0
1,2.0,A9,UWr,12954.0,4082.0,101166.0,3824.0,244.0,5911.0,1719.0,1657.0,565.0,1710.749807,226.0,339.0,4798.0,609.0,1026.0,182.0
2,3.0,A9,Hala Targowa,9500.0,12060.0,62071.0,271.0,434.0,1412.0,1301.0,1253.0,1348.0,1391.726457,548.0,713.0,4751.0,1139.0,2349.0,730.0
3,4.0,A11,Pl. Dominikański,70156.0,104991.0,64536.0,188.0,0.0,0.0,650.0,620.0,704.0,726.836369,269.0,191.0,4250.0,722.0,1566.0,217.0
4,5.0,A11,Skargi,13656.0,10927.0,60003.0,286.0,1785.0,0.0,1072.0,1034.0,696.0,1067.540917,400.0,348.0,5194.0,965.0,1305.0,321.0

In [17]:
# nums to int
for col in df.columns:
    try:
        df[col] = df[col].astype('int')
    except:
        pass

In [18]:
df.head()

,Regions,Regions_agr,Region_name,Objects_offices,Objects_shops,Objects_apartments,Objects_industry,Objects_schools,Objects_universitites,Poluation_UM,Population_6plus_UM,Population_BD,Population_AUT,Population_MET1,Population_MET2,Jobs_GUS,Jobs_AUT,Jobs_MET3,Jobs_MET4
0,1,A10,Rynek,106538,58760,131606,288,0,0,1695,1645,5785,1698,2714,2105,10354,6986,9875,2262
1,2,A9,UWr,12954,4082,101166,3824,244,5911,1719,1657,565,1710,226,339,4798,609,1026,182
2,3,A9,Hala Targowa,9500,12060,62071,271,434,1412,1301,1253,1348,1391,548,713,4751,1139,2349,730
3,4,A11,Pl. Dominikański,70156,104991,64536,188,0,0,650,620,704,726,269,191,4250,722,1566,217
4,5,A11,Skargi,13656,10927,60003,286,1785,0,1072,1034,696,1067,400,348,5194,965,1305,321

In [19]:
df.to_csv('../../data/interim/KBR/regions_info.csv')

In [20]:
df.describe()

,Regions,Objects_offices,Objects_shops,Objects_apartments,Objects_industry,Objects_schools,Objects_universitites,Poluation_UM,Population_6plus_UM,Population_BD,Population_AUT,Population_MET1,Population_MET2,Jobs_GUS,Jobs_AUT,Jobs_MET3,Jobs_MET4
count,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000
mean,189.013333,8937.864000,7543.093333,83190.616000,5955.405333,175.557333,194.301333,1619.130667,1513.418667,1695.202667,1694.760000,645.173333,521.594667,1277.488000,818.704000,798.301333,375.914667
std,110.440621,20620.685508,16806.305200,83699.000908,21801.016638,370.780909,1085.010477,1801.929050,1698.903137,1858.487012,1865.137679,747.427388,592.372210,1869.072765,886.225316,1005.704790,400.794082
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,94.500000,161.000000,593.000000,6753.500000,72.500000,0.000000,0.000000,142.000000,132.500000,287.000000,151.500000,113.000000,78.000000,288.000000,182.000000,108.500000,78.000000
50%,188.000000,1646.000000,2505.000000,64536.000000,273.000000,0.000000,0.000000,1078.000000,995.000000,1183.000000,1221.000000,443.000000,313.000000,734.000000,591.000000,504.000000,252.000000
75%,281.500000,8188.000000,6515.000000,132169.000000,2045.500000,228.500000,0.000000,2475.000000,2296.500000,2349.000000,2444.500000,878.000000,760.500000,1483.000000,1139.000000,1113.000000,521.500000
max,454.000000,258367.000000,169700.000000,470002.000000,277132.000000,2943.000000,17149.000000,11407.000000,10864.000000,11893.000000,12278.000000,4941.000000,3332.000000,17646.000000,6986.000000,9875.000000,2262.000000

In [23]:
df[df['Objects_universitites'] > 0].sort_values('Objects_universitites')

,Regions,Regions_agr,Region_name,Objects_offices,Objects_shops,Objects_apartments,Objects_industry,Objects_schools,Objects_universitites,Poluation_UM,Population_6plus_UM,Population_BD,Population_AUT,Population_MET1,Population_MET2,Jobs_GUS,Jobs_AUT,Jobs_MET3,Jobs_MET4
97,98,98,Karłowice,2970,924,156844,928,0,45,2520,2381,0,2458,0,0,944,0,0,0
115,116,116,Wejherowska,205,6548,135280,340,1175,71,4092,3898,1331,4024,339,139,1580,461,652,147
30,31,A4,Grunwaldzka,10547,850,73756,209,0,91,1090,1019,948,1052,443,330,1334,495,487,313
48,49,A17,Braniborska,12763,49080,45394,764,708,109,997,968,2357,2433,948,948,1685,2383,2262,991
74,75,A1,Tramwajowa,1222,3655,30534,2054,0,157,468,448,0,462,0,0,258,0,0,0
164,165,165,Nowodworska,166,4225,108418,122,0,169,2771,2592,2149,2676,678,487,786,1009,722,269
44,45,A49,Starogroblowa,760,2277,558,524,0,181,14,12,861,12,339,365,51,574,643,382
75,76,A6,Park Szczytnicki,221,11464,6682,621,0,182,61,60,1357,61,374,313,264,617,461,234
12,13,A13,Świdnicka/Arkady,73562,16409,97879,386,0,251,1796,1719,1183,1774,365,174,10561,1687,2175,426
199,200,A39,Skarbowców,17615,3551,102427,909,343,272,1547,1465,3149,1512,1209,1183,1211,1191,783,756
118,119,A49,Wzgórze Mikołajskie,49114,8442,33076,4414,0,272,670,602,878,906,261,313,5868,1183,1383,400
339,340,340,Trzebnicka,15161,28132,163121,397,287,272,4187,3977,3923,4106,1070,435,1663,1653,1322,295
349,350,A10,Plac Solny,123510,42043,82450,568,0,339,1037,987,1139,1175,408,200,9278,1714,2035,182
86,87,A1,Chełmońskiego,3067,2593,44655,80,0,344,641,614,0,633,0,0,329,0,0,0
16,17,A48,Park Słowackiego,28727,5935,483,279,0,362,2,2,313,323,156,165,312,722,765,174
15,16,16,Pl. Wróblewskiego,10088,2920,159041,320,2943,398,3285,3138,3819,3942,1496,1966,2199,2705,3767,1774
69,70,A48,Krakowska,25325,72289,9784,87187,280,401,193,182,1479,187,478,582,2827,1000,1000,678
58,59,59,Pl. Powstańców Śl.,49690,577,149680,126,0,462,2285,2184,4593,2254,1714,1661,1688,2488,2827,1052
46,47,47,Zachodnia,8800,4912,198190,60,1268,526,4611,4421,5168,5335,2375,1635,5453,2009,2366,704
5,6,A14,Pd. Czterech Kultur,66296,18850,67754,167,0,545,915,870,1183,1221,461,287,2909,1426,1844,356
129,130,130,Ostrowskiego,53695,7851,74475,32201,0,634,2169,2066,287,2133,191,200,6311,356,278,252
37,38,38,Na Szańcach,12864,1575,211815,221,798,920,3958,3766,2149,3888,974,748,1617,878,870,609
76,77,A6,Parkowa,6598,2546,44181,38,1092,1086,560,530,417,547,156,261,1027,391,426,243
96,97,97,WSO Czajkowskiego,0,0,1,0,0,1086,0,0,1009,0,208,139,487,626,548,200
333,334,A55,Most Szczytnicki,2545,6054,149471,226,0,1086,1475,1455,1975,2039,878,843,540,1252,1226,678
8,9,A15,Pl. Orląt Lwowskich,4742,4378,70796,29,0,1087,1368,1289,1113,1330,287,226,884,582,939,191
122,123,123,DSW/WSB,37260,377,0,3432,0,1139,0,0,182,0,60,339,1642,1218,1278,408
70,71,A23,Na Grobli,17263,3029,913,37766,0,1254,24,24,861,24,278,234,580,669,722,348
66,67,67,Hubska,35611,1462,113805,187,1505,1386,2049,1951,2801,2014,1122,1096,6718,1479,2122,1052
2,3,A9,Hala Targowa,9500,12060,62071,271,434,1412,1301,1253,1348,1391,548,713,4751,1139,2349,730
85,86,A1,UPrzyrodn.,77,77,21074,106,197,1424,286,279,0,288,0,0,370,0,0,0
94,95,95,Przybyszewskiego UWr,3377,5645,140391,833,390,1458,3943,3696,1357,3815,582,626,1020,774,991,600
31,32,32,Prusa/Nowowiejska,0,843,173286,186,489,1562,3525,3392,5942,3502,2531,1522,938,1644,2157,774
24,25,A3,Ostrów Tumski,293,8508,74826,216,0,2168,794,774,2497,799,1017,739,413,1479,2088,722
139,140,A53,Akademia Medyczna,5104,220,11458,601,0,2172,288,277,4846,285,2062,1861,4126,3636,2488,1322
344,345,A12,UWr/Pl. Maksa Borna,3663,3388,48852,308,0,2316,1036,991,1209,1248,617,661,303,1087,1157,513
95,96,A26,Koszarowa,11761,3063,13158,1416,0,2502,319,307,0,316,0,0,1484,0,0,0
79,80,A58,Stadion Olimpijski,2096,4098,7691,624,0,2610,222,222,3958,4086,1740,1600,908,2009,1661,1122
28,29,A2,Kliniki,14844,2614,105744,2857,0,3095,1608,1528,870,1577,469,504,4701,1183,1679,495
26,27,A3,UWr 2,23187,10463,100302,0,0,3555,1677,1604,2514,2595,1009,652,553,2018,2436,530
373,453,A57,Kamienna Akademiki UE,2489,234,17858,361,0,5189,448,448,2062,462,896,861,3536,1687,2314,643
29,30,A55,Plac Grunwaldzki,77910,54037,22282,276,0,5213,515,506,4176,522,1400,1540,8144,4828,6046,1722
1,2,A9,UWr,12954,4082,101166,3824,244,5911,1719,1657,565,1710,226,339,4798,609,1026,182
27,28,A2,Politechnika,3836,1584,71419,570,367,17149,1192,1149,1244,1284,513,896,4141,2444,2618,748