In [3]:
import os

import pandas as pd
from tqdm import tqdm

tqdm.pandas()
pd.options.display.max_columns = None

# Example

In [ ]:
scenarios_dir = '../../data/processed/scenarios/'
scenario_dir = 'scenarios_1_1_pub_trans_comfort_dist-up_0_0_pub_trans_punctuality_dist-up_0_0_household_cars_dist-down_0_0/'

scenario_path = os.path.join(scenarios_dir, scenario_dir)

In [12]:
data = pd.read_csv(os.path.join(scenario_path, 'travels_results_1.csv'))

In [18]:
data.head()

,Unnamed: 0,agent_id,start_region,start_place_type,dest_region,dest_place_type,travel_start_time,transport_mode,is_driver
0,0,0,228,dom,126,praca,1219,0,1.0
1,1,0,126,praca,228,dom,1229,0,1.0
2,2,1,19,dom,1,inne,977,1,NaN
3,3,1,1,inne,19,dom,987,1,NaN
4,4,2,116,dom,147,inne,397,2,NaN

# Scenarios

## Scenario 0 0 0

In [131]:
scenarios_dir = '../../data/processed/scenarios/'
scenario_dir = 'scenarios_1_1_pub_trans_comfort_dist-up_0_0_pub_trans_punctuality_dist-up_0_0_household_cars_dist-down_0_0/'

scenario_path = os.path.join(scenarios_dir, scenario_dir)

In [132]:
total_data = pd.DataFrame(columns=['transport_mode', 'total_count', 'modal_split'])

for simulation_file in tqdm(os.listdir(scenario_path)):
    if simulation_file.startswith('travels_results_'):
        data = pd.read_csv(os.path.join(scenario_path, simulation_file))

        transport_mode_vc = data['transport_mode'].value_counts().rename_axis('transport_mode').reset_index(name='total_count')
        transport_mode_vc['modal_split'] = transport_mode_vc['total_count'] / transport_mode_vc['total_count'].sum() * 100

        total_data = pd.concat([total_data, transport_mode_vc])


var_map_dict = {
    0: 'komunikacja samochodowa',
    1: 'komunikacja zbiorowa',
    2: 'pieszo',
    3: 'rower',
}

total_data.replace({'transport_mode': var_map_dict}, inplace=True)

total_data.reset_index(inplace=True)

100%|██████████| 100/100 [00:20<00:00,  4.85it/s]

In [133]:
list(total_data['transport_mode'].unique())

['komunikacja samochodowa', 'komunikacja zbiorowa', 'pieszo', 'rower']

In [134]:
transport_modes = list(total_data['transport_mode'].unique())

for transport_mode in transport_modes:
    print(transport_mode)
    print(total_data[
        total_data['transport_mode'] == transport_mode
    ]['modal_split'].std(axis=0))

komunikacja samochodowa
0.09007087180728351
komunikacja zbiorowa
0.09402402575265148
pieszo
0.0655132359694321
rower
0.04254365743866603

In [136]:
total_data_grouped = total_data.groupby(['transport_mode'])['total_count'].sum().reset_index()

total_data_0_0_0 = total_data_grouped
total_data_0_0_0['modal_split'] = total_data_0_0_0['total_count'] / total_data_0_0_0['total_count'].sum() * 100

total_data_0_0_0

            transport_mode  total_count  modal_split
0  komunikacja samochodowa     12362723    39.313819
1     komunikacja zbiorowa      9880738    31.421034
2                   pieszo      6364737    20.240049
3                    rower      2838055     9.025098

## Scenario 0 0.3 0

In [137]:
scenarios_dir = '../../data/processed/scenarios/'
scenario_dir = 'scenarios_3_2_pub_trans_comfort_dist-up_0_0_pub_trans_punctuality_dist-up_0_3_household_cars_dist-down_0_0/'

scenario_path = os.path.join(scenarios_dir, scenario_dir)

In [138]:
total_data = pd.DataFrame(columns=['transport_mode', 'total_count', 'modal_split'])

for simulation_file in tqdm(os.listdir(scenario_path)):
    if simulation_file.startswith('travels_results_'):
        data = pd.read_csv(os.path.join(scenario_path, simulation_file))

        transport_mode_vc = data['transport_mode'].value_counts().rename_axis('transport_mode').reset_index(name='total_count')
        transport_mode_vc['modal_split'] = transport_mode_vc['total_count'] / transport_mode_vc['total_count'].sum() * 100

        total_data = pd.concat([total_data, transport_mode_vc])


var_map_dict = {
    0: 'komunikacja samochodowa',
    1: 'komunikacja zbiorowa',
    2: 'pieszo',
    3: 'rower',
}

total_data.replace({'transport_mode': var_map_dict}, inplace=True)

total_data.reset_index(inplace=True)

100%|██████████| 100/100 [00:20<00:00,  4.85it/s]

In [139]:
transport_modes = list(total_data['transport_mode'].unique())

for transport_mode in transport_modes:
    print(transport_mode)
    print(total_data[
        total_data['transport_mode'] == transport_mode
    ]['modal_split'].std(axis=0))

komunikacja samochodowa
0.09954302246280859
komunikacja zbiorowa
0.08565357049661204
pieszo
0.0688344715552324
rower
0.052110323869766946

In [140]:
total_data_grouped = total_data.groupby(['transport_mode'])['total_count'].sum().reset_index()

total_data_0_3_0 = total_data_grouped
total_data_0_3_0['modal_split'] = total_data_0_3_0['total_count'] / total_data_0_3_0['total_count'].sum() * 100

total_data_0_3_0

            transport_mode  total_count  modal_split
0  komunikacja samochodowa     12037179    38.285293
1     komunikacja zbiorowa     10261773    32.638460
2                   pieszo      6367360    20.251941
3                    rower      2774427     8.824306

## Scenario 0.3 0.3 0

In [141]:
scenarios_dir = '../../data/processed/scenarios/'
scenario_dir = 'scenarios_10_1_pub_trans_comfort_dist-up_0_3_pub_trans_punctuality_dist-up_0_3_household_cars_dist-down_0_0/'

scenario_path = os.path.join(scenarios_dir, scenario_dir)

In [142]:
total_data = pd.DataFrame(columns=['transport_mode', 'total_count', 'modal_split'])

for simulation_file in tqdm(os.listdir(scenario_path)):
    if simulation_file.startswith('travels_results_'):
        data = pd.read_csv(os.path.join(scenario_path, simulation_file))

        transport_mode_vc = data['transport_mode'].value_counts().rename_axis('transport_mode').reset_index(name='total_count')
        transport_mode_vc['modal_split'] = transport_mode_vc['total_count'] / transport_mode_vc['total_count'].sum() * 100

        total_data = pd.concat([total_data, transport_mode_vc])


var_map_dict = {
    0: 'komunikacja samochodowa',
    1: 'komunikacja zbiorowa',
    2: 'pieszo',
    3: 'rower',
}

total_data.replace({'transport_mode': var_map_dict}, inplace=True)

total_data.reset_index(inplace=True)

100%|██████████| 100/100 [00:20<00:00,  4.91it/s]

In [143]:
transport_modes = list(total_data['transport_mode'].unique())

for transport_mode in transport_modes:
    print(transport_mode)
    print(total_data[
        total_data['transport_mode'] == transport_mode
    ]['modal_split'].std(axis=0))

komunikacja samochodowa
0.08900713935566026
komunikacja zbiorowa
0.08166558252994376
pieszo
0.07062194552837282
rower
0.046044550296766296

In [144]:
total_data_grouped = total_data.groupby(['transport_mode'])['total_count'].sum().reset_index()

total_data_3_3_0 = total_data_grouped
total_data_3_3_0['modal_split'] = total_data_3_3_0['total_count'] / total_data_3_3_0['total_count'].sum() * 100

total_data_3_3_0

            transport_mode  total_count  modal_split
0  komunikacja samochodowa     11506820    36.607064
1     komunikacja zbiorowa     10733408    34.146580
2                   pieszo      6444110    20.500881
3                    rower      2748994     8.745474

## Scenario 0 0 0.3

In [145]:
scenarios_dir = '../../data/processed/scenarios/'
scenario_dir = 'scenarios_2_1_pub_trans_comfort_dist-up_0_0_pub_trans_punctuality_dist-up_0_0_household_cars_dist-down_0_3/'

scenario_path = os.path.join(scenarios_dir, scenario_dir)

In [146]:
total_data = pd.DataFrame(columns=['transport_mode', 'total_count', 'modal_split'])

for simulation_file in tqdm(os.listdir(scenario_path)):
    if simulation_file.startswith('travels_results_'):
        data = pd.read_csv(os.path.join(scenario_path, simulation_file))

        transport_mode_vc = data['transport_mode'].value_counts().rename_axis('transport_mode').reset_index(name='total_count')
        transport_mode_vc['modal_split'] = transport_mode_vc['total_count'] / transport_mode_vc['total_count'].sum() * 100

        total_data = pd.concat([total_data, transport_mode_vc])


var_map_dict = {
    0: 'komunikacja samochodowa',
    1: 'komunikacja zbiorowa',
    2: 'pieszo',
    3: 'rower',
}

total_data.replace({'transport_mode': var_map_dict}, inplace=True)

total_data.reset_index(inplace=True)

100%|██████████| 100/100 [00:20<00:00,  4.95it/s]

In [147]:
transport_modes = list(total_data['transport_mode'].unique())

for transport_mode in transport_modes:
    print(transport_mode)
    print(total_data[
        total_data['transport_mode'] == transport_mode
    ]['modal_split'].std(axis=0))

komunikacja zbiorowa
0.07688851904994906
komunikacja samochodowa
0.08437993544355891
pieszo
0.07222312904478517
rower
0.04307761010030198

In [148]:
total_data_grouped = total_data.groupby(['transport_mode'])['total_count'].sum().reset_index()

total_data_0_0_3 = total_data_grouped
total_data_0_0_3['modal_split'] = total_data_0_0_3['total_count'] / total_data_0_0_3['total_count'].sum() * 100

total_data_0_0_3

            transport_mode  total_count  modal_split
0  komunikacja samochodowa     10539424    33.523908
1     komunikacja zbiorowa     10926328    34.754577
2                   pieszo      6773475    21.545139
3                    rower      3199303    10.176376